{% extends 'base.html' %}

{% block title %} 
Doctors
{% endblock %}

{% block content %} 
<h2 class="text-center" style="color:rgb(0, 255, 21);">Our Doctors</h2>
<hr>

<dir class="container text-center bg-light">
    {% for d in doc %}
        <div class="card text-center mx-3 my-3" style="width: 18rem; display: inline-block;">
            <img src="{{d.doc_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr.{{d.doc_name}}</h5>
              <p class="card-text">{{d.doc_spec}}</p>
            </div>
          </div>
    {% endfor %}
</dir>

{% endblock %}